[Unit]
Description=Coop Cloud mDNS Publisher
After=network.target avahi-daemon.service
Requires=avahi-daemon.service

[Service]
Type=simple
ExecStart=/usr/bin/ccmdns --log-dir /var/log/ccmdns publish
Restart=on-failure
RestartSec=5s
User=ccmdns
Group=ccmdns
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
LogsDirectory=ccmdns
ReadWritePaths=/var/log/ccmdns

[Install]
WantedBy=multi-user.target
